{% load staticfiles %}
{% load i18n %}

{# The main template of the conference registration application - basically shows the registration form on visit #}
<!DOCTYPE html>
<html>
	<head>
		<title>{% trans "Prijava za konferenciju" %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# Include bootstrap css #}
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
		
		{# Include jQuery and Bootstrap JavaScript #}
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container">
            <div class="row">
                <h1>{% trans "Prijava za konferenciju" %}</h1>
            </div>
            
            <div class="row content">
                {% block content %}{% endblock %}
            </div>
		    
		    <div class="row footer">
			    <p> Footer </p>
	    	</div> {# /row #}
		    
		    
	    </div> {# Container #}
	</body>
</html>
